1.Scrapping data from wbesite

1. Importing libraries essetial to scrapping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

2. Pointing url to fetch data from

In [2]:
url = 'https://www.pig333.com/markets_and_prices/'
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

3. Locating tags where the data in relevant fetching into a dataframe

In [3]:
markets = []
listings = soup.find('div', {'class': 'contingut'}).find_all('div', {'class': 'preu_mercat'})

In [4]:
print(markets)

[]

4. Fetching data from located tags in the HTML into a proper dataframe.

In [5]:
for item in listings:
    market = {}

    market['country'] = item.find('a', {'class': 'titol'}).getText()
    market['date'] = item.select('.col-titol > span.data')[0].getText()
    market['price'] = item.find('span', {'class': 'preu'}).getText()
    market['CUR'] = item.find('span', {'class': 'moneda'}).getText()
    market['unit'] = item.find('span', {'class': 'unitats'}).getText()
    market['reference'] = item.find('span', {'class': 'data fs9'}).getText()
    market['variation'] = item.find('span', {'class': 'perc'}).getText()

    markets.append(market)
  

pricing = pd.DataFrame(markets)
pricing

,country,date,price,CUR,unit,reference,variation
0,Belgium - Danis,6 Aug,0.960,EUR,kg,Live,0%
1,Denmark,6 Aug,10.50,DKK,kg,Carcass 60%,0%
2,France - MPB,3 Aug,1.293,EUR,kg,Carcass 56 TMV,0%
3,Germany,5 Aug,1.470,EUR,kg,Carcass 57%,0%
4,Italy,6 Aug,1.325,EUR,kg,160/176 kg Live,3.9%
5,Netherlands - Beursprijs,31 Jul,1.050,EUR,kg,Live,0%
6,Poland,31 Jul,6.441,PLN,kg,Carcass 57%,2.9%
7,Romania,24 Jul,536.79,RON,100kg,Live,2.0%
8,Russia,29 Jul,112.20,RUB,kg,Live,6.8%
9,Spain - Lleida,6 Aug,1.300,EUR,kg,Live,0%
10,United Kingdom,1 Aug,164.68,GBX,kg,SPP Euro Spec,0.3%
11,Ukraine,31 Jul,46.30,UAH,kg,Live,4.6%
12,Argentine,31 Jul,65.81,ARS,kg,Live,8.8%
13,Brazil - Paraná,3 Aug,6.140,BRL,kg,Live,1.5%
14,Brazil - Santa Catarina,6 Aug,6.610,BRL,kg,Live,4.3%
15,Canada - Ontario,31 Jul,127.01,CAD,100kg,Carcass,6.1%
16,Canada - Quebec,7 Aug,148.18,CAD,100kg,Carcass,4.9%
17,Chile,7 Aug,1320,CLP,kg,Live,3.1%
18,Colombia,7 Aug,5444,COP,kg,Live,0.4%
19,Mexico - Sonora,31 Jul,25.40,MXN,kg,Live,4.2%
20,USA - Iowa/Minnesota,6 Aug,38.81,USD,cwt,Carcass,2.0%
21,China,29 Jul,36.94,CNY,kg,Live,0.4%
22,South Korea,6 Aug,4279,KRW,kg,Carcass,2.7%

In [6]:
print(market)

{'country': 'South Korea', 'date': '6 Aug', 'price': '4279', 'CUR': 'KRW', 'unit': 'kg', 'reference': 'Carcass', 'variation': ' 2.7%'}

In [7]:
pricing['price'] = pricing['price'].astype(float)

5. Create Unit equalizing column

Find the price units that  distorts (dressing percentage) the value of the dafult price of a pig at the gate and equalize it for a price per kilo to into all currencies

In [8]:
treat_price=pricing.loc[(pricing['unit']=='100kg')]
treat_price

             country    date   price  CUR   unit reference variation
7            Romania  24 Jul  536.79  RON  100kg      Live      2.0%
15  Canada - Ontario  31 Jul  127.01  CAD  100kg   Carcass      6.1%
16   Canada - Quebec   7 Aug  148.18  CAD  100kg   Carcass      4.9%

In [9]:
treat_price.price

7     536.79
15    127.01
16    148.18
Name: price, dtype: float64

In [10]:
correct_price = treat_price.price.div(100)
correct_price

7     5.3679
15    1.2701
16    1.4818
Name: price, dtype: float64

In [11]:
treat_price2=pricing.loc[(pricing['unit']=='cwt')]
treat_price2

                 country   date  price  CUR unit reference variation
20  USA - Iowa/Minnesota  6 Aug  38.81  USD  cwt   Carcass      2.0%

In [12]:
correct_price2 = treat_price2.price.div(50.802)
correct_price2

20    0.763946
Name: price, dtype: float64

In [13]:
treat_price3=pricing.loc[(pricing['CUR']=='GBX')]
treat_price3

           country   date   price  CUR unit      reference variation
10  United Kingdom  1 Aug  164.68  GBX   kg  SPP Euro Spec      0.3%

In [14]:
correct_price3 = treat_price3.price.div(100)
correct_price3

10    1.6468
Name: price, dtype: float64

In [15]:
pricing.update(correct_price)

In [16]:
pricing.update(correct_price2)

In [17]:
pricing.update(correct_price3)

In [18]:
pricing

,country,date,price,CUR,unit,reference,variation
0,Belgium - Danis,6 Aug,0.960000,EUR,kg,Live,0%
1,Denmark,6 Aug,10.500000,DKK,kg,Carcass 60%,0%
2,France - MPB,3 Aug,1.293000,EUR,kg,Carcass 56 TMV,0%
3,Germany,5 Aug,1.470000,EUR,kg,Carcass 57%,0%
4,Italy,6 Aug,1.325000,EUR,kg,160/176 kg Live,3.9%
5,Netherlands - Beursprijs,31 Jul,1.050000,EUR,kg,Live,0%
6,Poland,31 Jul,6.441000,PLN,kg,Carcass 57%,2.9%
7,Romania,24 Jul,5.367900,RON,100kg,Live,2.0%
8,Russia,29 Jul,112.200000,RUB,kg,Live,6.8%
9,Spain - Lleida,6 Aug,1.300000,EUR,kg,Live,0%
10,United Kingdom,1 Aug,1.646800,GBX,kg,SPP Euro Spec,0.3%
11,Ukraine,31 Jul,46.300000,UAH,kg,Live,4.6%
12,Argentine,31 Jul,65.810000,ARS,kg,Live,8.8%
13,Brazil - Paraná,3 Aug,6.140000,BRL,kg,Live,1.5%
14,Brazil - Santa Catarina,6 Aug,6.610000,BRL,kg,Live,4.3%
15,Canada - Ontario,31 Jul,1.270100,CAD,100kg,Carcass,6.1%
16,Canada - Quebec,7 Aug,1.481800,CAD,100kg,Carcass,4.9%
17,Chile,7 Aug,1320.000000,CLP,kg,Live,3.1%
18,Colombia,7 Aug,5444.000000,COP,kg,Live,0.4%
19,Mexico - Sonora,31 Jul,25.400000,MXN,kg,Live,4.2%
20,USA - Iowa/Minnesota,6 Aug,0.763946,USD,cwt,Carcass,2.0%
21,China,29 Jul,36.940000,CNY,kg,Live,0.4%
22,South Korea,6 Aug,4279.000000,KRW,kg,Carcass,2.7%

In [19]:
##4.1 exporting prices for swine into a CSV file

In [21]:
#import datetime

#current_date = datetime.datetime.now()
#filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
#pricing.to_csv(str('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetoday'+filename+ '.csv'))
#pricing.to_csv('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetoday.csv')

6. Creat Currency equalizing column

6.1 Finding the currency conversions on a website online to keep the values always updated with FX figures

In [22]:
api_url = "https://openexchangerates.org/api/latest.json?app_id=84f0e7f007024e6aa0c5fc52f419b104"
r = requests.get(api_url)

r.raise_for_status()
result = r.json()
rates = result['rates']
print(rates)

{'AED': 3.6732, 'AFN': 76.960585, 'ALL': 104.84989, 'AMD': 481.616228, 'ANG': 1.799535, 'AOA': 582.5, 'ARS': 72.890768, 'AUD': 1.396229, 'AWG': 1.8002, 'AZN': 1.7025, 'BAM': 1.658404, 'BBD': 2, 'BDT': 85.002098, 'BGN': 1.6595, 'BHD': 0.377934, 'BIF': 1933.083753, 'BMD': 1, 'BND': 1.374369, 'BOB': 6.922089, 'BRL': 5.4376, 'BSD': 1, 'BTC': 8.3408984e-05, 'BTN': 75.078502, 'BWP': 11.766676, 'BYN': 2.457009, 'BZD': 2.020749, 'CAD': 1.33781, 'CDF': 1976.961192, 'CHF': 0.913307, 'CLF': 0.028224, 'CLP': 788.79937, 'CNH': 6.966504, 'CNY': 6.9673, 'COP': 3752.895973, 'CRC': 591.136287, 'CUC': 1, 'CUP': 25.75, 'CVE': 94.37, 'CZK': 22.307001, 'DJF': 178.432371, 'DKK': 6.31735, 'DOP': 58.537022, 'DZD': 128.513438, 'EGP': 15.9553, 'ERN': 15.003119, 'ETB': 35.674655, 'EUR': 0.848088, 'FJD': 2.1178, 'FKP': 0.765239, 'GBP': 0.765239, 'GEL': 3.085, 'GGP': 0.765239, 'GHS': 5.784361, 'GIP': 0.765239, 'GMD': 51.87, 'GNF': 9671.301265, 'GTQ': 7.719181, 'GYD': 209.456937, 'HKD': 7.75055, 'HNL': 24.756107, 'HRK': 6.330268, 'HTG': 112.610241, 'HUF': 293.538, 'IDR': 14662.513787, 'ILS': 3.41096, 'IMP': 0.765239, 'INR': 74.932498, 'IQD': 1196.814173, 'IRR': 42105, 'ISK': 136.21, 'JEP': 0.765239, 'JMD': 148.758793, 'JOD': 0.709, 'JPY': 105.776, 'KES': 108, 'KGS': 76.980313, 'KHR': 4111.409803, 'KMF': 419.969922, 'KPW': 900, 'KRW': 1186.37, 'KWD': 0.3057, 'KYD': 0.835492, 'KZT': 420.841144, 'LAK': 9093.750416, 'LBP': 1515.79225, 'LKR': 185.714964, 'LRD': 199.325061, 'LSL': 17.583947, 'LYD': 1.368827, 'MAD': 9.284906, 'MDL': 16.59151, 'MGA': 3853.199464, 'MKD': 52.245105, 'MMK': 1358.904021, 'MNT': 2847.826129, 'MOP': 8.002849, 'MRO': 357, 'MRU': 38.546432, 'MUR': 39.680003, 'MVR': 15.4, 'MWK': 744.240152, 'MXN': 22.379955, 'MYR': 4.1925, 'MZN': 70.956005, 'NAD': 17.39, 'NGN': 386.72, 'NIO': 34.902759, 'NOK': 9.036245, 'NPR': 120.12839, 'NZD': 1.513569, 'OMR': 0.38498, 'PAB': 1, 'PEN': 3.551439, 'PGK': 3.527501, 'PHP': 49.168984, 'PKR': 168.824133, 'PLN': 3.743633, 'PYG': 6951.524076, 'QAR': 3.650108, 'RON': 4.1055, 'RSD': 99.775, 'RUB': 73.3099, 'RWF': 961.83687, 'SAR': 3.74995, 'SBD': 8.225909, 'SCR': 17.824908, 'SDG': 55.3, 'SEK': 8.746382, 'SGD': 1.372741, 'SHP': 0.765239, 'SLL': 9826.321355, 'SOS': 579.91808, 'SRD': 7.458, 'SSP': 130.26, 'STD': 21292.767074, 'STN': 20.9, 'SVC': 8.772116, 'SYP': 511.919948, 'SZL': 17.582644, 'THB': 31.183502, 'TJS': 10.340743, 'TMT': 3.5, 'TND': 2.724, 'TOP': 2.279305, 'TRY': 7.2798, 'TTD': 6.779982, 'TWD': 29.398998, 'TZS': 2330.850884, 'UAH': 27.714628, 'UGX': 3694.18973, 'USD': 1, 'UYU': 42.640694, 'UZS': 10263.779697, 'VEF': 248487.642241, 'VES': 270695.245074, 'VND': 23237.938539, 'VUV': 112.895876, 'WST': 2.628702, 'XAF': 556.309383, 'XAG': 0.03562142, 'XAU': 0.00049278, 'XCD': 2.70255, 'XDR': 0.709289, 'XOF': 556.309383, 'XPD': 0.00045945, 'XPF': 101.203841, 'XPT': 0.0010225, 'YER': 250.350066, 'ZAR': 17.615851, 'ZMW': 18.471232, 'ZWL': 322}

In [23]:
usdrates = pd.DataFrame([rates])
usdrates.T.reset_index()

    index           0
0     AED    3.673200
1     AFN   76.960585
2     ALL  104.849890
3     AMD  481.616228
4     ANG    1.799535
..    ...         ...
166   XPT    0.001022
167   YER  250.350066
168   ZAR   17.615851
169   ZMW   18.471232
170   ZWL  322.000000

[171 rows x 2 columns]

6.2 Selecting only the currencys I actually need conversion for the quotations I have in each country

Filtering the ACTUAL CURRENCIES I need (16 only of actual_currencies) from the total FX rates I've have caputred

In [24]:
actual_currency = pricing['CUR']
actual_currency[10]='GBP'
actual_currency

/Users/lstorino/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0     EUR
1     DKK
2     EUR
3     EUR
4     EUR
5     EUR
6     PLN
7     RON
8     RUB
9     EUR
10    GBP
11    UAH
12    ARS
13    BRL
14    BRL
15    CAD
16    CAD
17    CLP
18    COP
19    MXN
20    USD
21    CNY
22    KRW
Name: CUR, dtype: object

In [25]:
actual_currency_list = list(actual_currency)
usd_daily_rate=usdrates[actual_currency_list]
usd_d_rates = usd_daily_rate.T.reset_index()

In [26]:
usd_d_rates

   index            0
0    EUR     0.848088
1    DKK     6.317350
2    EUR     0.848088
3    EUR     0.848088
4    EUR     0.848088
5    EUR     0.848088
6    PLN     3.743633
7    RON     4.105500
8    RUB    73.309900
9    EUR     0.848088
10   GBP     0.765239
11   UAH    27.714628
12   ARS    72.890768
13   BRL     5.437600
14   BRL     5.437600
15   CAD     1.337810
16   CAD     1.337810
17   CLP   788.799370
18   COP  3752.895973
19   MXN    22.379955
20   USD     1.000000
21   CNY     6.967300
22   KRW  1186.370000

In [27]:
usd_d_rates.rename(columns={'index': 'CUR', 0: 'Rate'},inplace = True)
usd_d_rates

    CUR         Rate
0   EUR     0.848088
1   DKK     6.317350
2   EUR     0.848088
3   EUR     0.848088
4   EUR     0.848088
5   EUR     0.848088
6   PLN     3.743633
7   RON     4.105500
8   RUB    73.309900
9   EUR     0.848088
10  GBP     0.765239
11  UAH    27.714628
12  ARS    72.890768
13  BRL     5.437600
14  BRL     5.437600
15  CAD     1.337810
16  CAD     1.337810
17  CLP   788.799370
18  COP  3752.895973
19  MXN    22.379955
20  USD     1.000000
21  CNY     6.967300
22  KRW  1186.370000

In [28]:
pricing

,country,date,price,CUR,unit,reference,variation
0,Belgium - Danis,6 Aug,0.960000,EUR,kg,Live,0%
1,Denmark,6 Aug,10.500000,DKK,kg,Carcass 60%,0%
2,France - MPB,3 Aug,1.293000,EUR,kg,Carcass 56 TMV,0%
3,Germany,5 Aug,1.470000,EUR,kg,Carcass 57%,0%
4,Italy,6 Aug,1.325000,EUR,kg,160/176 kg Live,3.9%
5,Netherlands - Beursprijs,31 Jul,1.050000,EUR,kg,Live,0%
6,Poland,31 Jul,6.441000,PLN,kg,Carcass 57%,2.9%
7,Romania,24 Jul,5.367900,RON,100kg,Live,2.0%
8,Russia,29 Jul,112.200000,RUB,kg,Live,6.8%
9,Spain - Lleida,6 Aug,1.300000,EUR,kg,Live,0%
10,United Kingdom,1 Aug,1.646800,GBP,kg,SPP Euro Spec,0.3%
11,Ukraine,31 Jul,46.300000,UAH,kg,Live,4.6%
12,Argentine,31 Jul,65.810000,ARS,kg,Live,8.8%
13,Brazil - Paraná,3 Aug,6.140000,BRL,kg,Live,1.5%
14,Brazil - Santa Catarina,6 Aug,6.610000,BRL,kg,Live,4.3%
15,Canada - Ontario,31 Jul,1.270100,CAD,100kg,Carcass,6.1%
16,Canada - Quebec,7 Aug,1.481800,CAD,100kg,Carcass,4.9%
17,Chile,7 Aug,1320.000000,CLP,kg,Live,3.1%
18,Colombia,7 Aug,5444.000000,COP,kg,Live,0.4%
19,Mexico - Sonora,31 Jul,25.400000,MXN,kg,Live,4.2%
20,USA - Iowa/Minnesota,6 Aug,0.763946,USD,cwt,Carcass,2.0%
21,China,29 Jul,36.940000,CNY,kg,Live,0.4%
22,South Korea,6 Aug,4279.000000,KRW,kg,Carcass,2.7%

In [29]:
import seaborn as sns

In [30]:
pricing['usd_base_kg'] = pricing.price.div(usd_d_rates.Rate)
pig_price_kg_usd = pricing[['country','date','usd_base_kg']]
pig_price_kg_usd.style.hide_index().highlight_max(color = 'yellow').highlight_min(color = 'lightblue')

In [31]:
pig_price_kg_usd.style.background_gradient(cmap = 'Greens')

In [32]:
usd_pig_price_blue = pig_price_kg_usd.sort_values(by = 'usd_base_kg').style.bar(color= 'lightblue')

In [33]:
usd_pig_price_blue

In [34]:
import datetime

current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
usd_pig_price_blue.to_excel(str('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetodayUSDBlueGrade'+filename+ '.xls'))
#pricing.to_csv('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetoday.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetodayUSDBlueGrade1082020.xls'

In [ ]:
pig_price_kg_usd.describe()

8. Export to CSV file for further temporal analisys

In [ ]:
import datetime

current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
pig_price_kg_usd.to_csv(str('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetodayUSD'+filename+ '.csv'))
#pricing.to_csv('/Users/lstorino/PythonTests/scrapping/Pig333/data/pricetoday.csv')